.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}
