.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}

.Card .Header {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.Card .Header .Title {
    flex: 1;
    padding: 5px;
    
}

.Card .Content {
    padding: 20px;
}

.Card.Red .Header { color: #FFF; background-color: #c62828;}
.Card.Red .Content { background-color: #f44336;}

.Card.Blue .Header { color: #FFF; background-color: #0460b6;}
.Card.Blue .Content { background-color: #5085ff;}

.Card.Purple .Header { color: #FFF; background-color: #500dee;}
.Card.Purple .Content { background-color: #6d3df1;}

.Card.Green .Header { color: #FFF; background-color: #00530b;}
.Card.Green .Content { background-color: #167c35;}